:root {
	--title-color: #212121;
	--subtitle-color: #757575;
	--active-color: #2196F3;
	--background-footer: #2F303A;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Roboto, sans-serif;
	color: var(--title-color);

}

/* HEADER */

.logo {
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	letter-spacing: 3%;
	text-decoration: none;
}

.logo .logo-header {
	color: #000;
}

.menu li {
	list-style: none;
}

.menu .menu-item {
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;

}

.active {
	color: var(--active-color);
}

.menu-item:hover {
	color: var(--active-color);
}

.contacts li {
	list-style: none;
}

.contacts li a {
	text-decoration: none;
	color: var(--subtitle-color);
	font-weight: 500;
	font-size: 14px;
}

.contacts li a:hover {
	color: var(--active-color);
}

/* HERO */
.hero {
	background-color: var(--background-footer);
	width: 100vw;
	height: 600px;
}

.hero-title {
	color: #fff;
	text-transform: uppercase;
	font-size: 44px;
	font-weight: 900;
}

.hero-btn {
	color: #fff;
	background-color: var(--active-color);
	border: none;
	border-radius: 4px;
	font-size: 16px;
	padding: 10px 32px;
	font-weight: 700;
}



/* FOOTER */

footer {
	background-color: var(--background-footer);
	color: #fff;

}

.logo-footer {
	color: #fff
}

address {
	font-size: 14px;
	font-style: normal;
}

address ul li {
	list-style: none;
}

address ul li a {
	text-decoration: none;
	/* color: rgba(255, 255, 255, 0.6); */
	opacity: .6;
	color: #fff
}

address ul li a:hover {
	opacity: 1;
}